@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/files/LXGWWenKai-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/files/LXGWWenKai-Regular.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

#app {
  --g-font-family:
    "JetBrains Mono", "LXGW WenKai", -apple-system, "Wenquanyi Micro Hei",
    "Wenquanyi Micro Hei Mono", "Microsoft YaHei", "PT Sans",
    "Liberation Mono", monospace, "Fira Code", Consolas, "Courier New",
    Menlo, Monaco;
}

:root {
  --vp-font-family-base: var(--g-font-family);
  --vp-font-family-mono: var(--g-font-family);
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app,
code,
pre {
  font-family: var(--g-font-family) !important;
}

button,
input,
textarea,
select,
.VPNav,
.VPSidebar,
.VPDocAside,
.DocSearch-Button,
.tk-layout,
.tk-pagination {
  font-family: var(--g-font-family);
}

kbd,
samp,
.line-numbers-wrapper,
[class*="language-"] > span.lang {
  font-family: var(--g-font-family) !important;
  font-variant-ligatures: normal;
}
